.sec1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.imgSec img{
    height: 85vh;
    width: 90%;
    
}

.imgSec{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textSec{
    width: 50%;
    margin: 2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    height: 75vh;
}

#smalltxt{
    font-size: x-small;
}
.info p{
    font-size: smaller
}

.sec1-btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 30%;
}
.sec1-btns button{
    height: 6vh;
    width: 12vw;
    border: none;
    background-color: green;
    border-radius: 10px;
    color: white;
}

.sec1-btns button:hover{
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
}
.line{
    width: 5px;
    height: 65vh;
    background-color: grey;
}
.sec2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sec2-1, .sec2-2{
    padding: 2rem;
}

.investors, .business{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec2-1{
    width: 50%;
}

.sec2-1 img{
    width: 100%;
}
.investorTxt, .businessTxt{
    padding-left: 1rem;
    padding-right: 1rem;
}

.home2-btns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home2-btns button{
    background-color: white;
    border: 1px solid grey;
    height: 6vh;
    width: 12vw;
    border-radius: 10px;
    font-size: small;
}

#investor-btn{
    background-color: rgba(0,255,0,0.3);
    border: 2px solid green;
}
.businessTxt{
    display: none;
}

.offer img{
    width: 4vw;
}
.offer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: green;
}

.offers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}

.sec3 h1,.sec3 h5{
    margin-left: 2rem !important;
    margin: 0;
}

.sec3 h5{
    margin-bottom: 2rem !important;
    color: grey;
}

.sec4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: green;
    height: fit-content;
    margin-top: 2rem;
    position: relative;
    top: 5vh;
}

.sec4-1{
    color: white;
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50vh;
}
.sec4-1 h2{
    color: white;
}

.sec4-1 p{
    height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec5{
    position: relative;
    top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.sec5-img img{
    width: 21.5vw;
}
.sec5-img h3{
    width: 20vw;
    font-size: large;
    padding: 0.5rem;
    color: white;
    background-color: green;
    margin: 0;
    height: 12vh;
}
.sec5-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#sec5-img1, #sec5-img3{
    flex-direction: column-reverse;
}